/* my css style file*/
.header {
    background-color: #1f2937;
    display: flex;
}
.header_logo{
    flex: 4;
    padding-left: 15%;
    padding-top: 1%;
}
h2{
    text-align: center;
}
.menu{
    padding-right: 3%;
    padding-top: 1%;
}
a:link{
    color: #e5e7eb;
}
.welcome_word{
    font-family: #f9faf8;
    font-size: 18px;
    padding: 4%;
    padding-left: 15%;
    padding-right: 10%;
    flex: 2;
    color: white;
}
.welcome_image{
    padding-right: 6%;
    padding-top: 6%;
    flex: 4;
    
}
.welcome_image img {
    border-radius: 10%; 
}
.welcome {
    background-color: #1f2937;
    display: flex;
}

.testinomy {
    background-color: #e5e7eb;
}

.footer {
    background-color: #1f2937;
}
.random_info{
    display: flex;
    padding-left: 20%;
    text-align: justify;

}
.random_info img {
    border-radius: 15%;
}
.random_info p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding-right: 30%;
    text-align: justify;
    padding-left: 10%;
}
.testinomy {
    padding: 10%;
    font-size: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    text-align: justify;
}
.testinomy p{
    text-align: right;
}

.signup {
    display: flex;
    padding: 5%;
    padding-left: 15%;
    color: #e5e7eb;
}
.signup_word{
    flex: 3;
    background-color: #3882F6;
    padding-left: 10%;
    text-align: left;
}
.signup_button{
    flex: 1;
    background-color: #3882F6;
    padding: 5%;
}
.footer {
    color: #e5e7eb;
    font-size: 20px;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}
.button {
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    border: 2px solid #e1e5ec;
    font-size: larger;
    width: 150px;
}