/* my css style file*/
.header {
    background-color: #1f2937;
    display: flex;
}
.header_logo{
    flex: 4;
    padding-left: 15%;
    padding-top: 1%;
}
.menu{
    padding-right: 3%;
    padding-top: 1%;
}
.welcome_word{
    font-family: #f9faf8;
    font-size: 18px;
    padding: 4%;
    padding-left: 15%;
    padding-right: 10%;
    flex: 2;
    color: white;
}
.welcome_image{
    padding-right: 6%;
    padding-top: 6%;
    flex: 4;
    
}
.welcome_image img {
    border-radius: 10%; 
}
.welcome {
    background-color: #1f2937;
    display: flex;
}

.testinomy {
    background-color: #e5e7eb;
}

.footer {
    background-color: #1f2937;
}
.random_info{
    display: flex;
    padding-left: 20%;
    text-align: justify;

}
.random_info img {
    border-radius: 15%;
}
.testinomy {
    padding: 10%;
    font-size: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    text-align: justify;
}
.testinomy p{
    text-align: right;
}