/* my css style file*/
.header {
    background-color: #1f2937;
}

.welcome {
    background-color: #1f2937;
}

.testinomy {
    background-color: #e5e7eb;
}

.footer {
    background-color: #1f2937;
}